<div class="card mt-4" >
  <div class="card-img-wrapper">
    <img src="{{user.photoUrl||'../../assets/user.png'}}" alt="{{user.username}}" class="card-img-top">
    <ul class="list-inline member-icons text-center animate">
      <li class="list-inline-item"><button class="btn btn-warning" [routerLink]="['/members/',user.id]"><i class="fa fa-user"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-warning" (click)="sendLike()"><i class="fa fa-heart"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-warning"
        [routerLink]="['/members/',user.id]" [queryParams]="{tab:3}"
        ><i class="fa fa-envelope"></i></button></li>
    </ul>
  </div>
  
  <div class="card-body p-1 text-center">
    <div class="card-title  mb-1">
      <i class="fa fa-user mr-1"></i>{{user.knownAs}} , {{user.age}}
    </div>
    <div class="car-header">{{user.city}}</div>
  </div>
</div>